<%= form_with(model: location) do |form| %>
  <div class="flex flex-col items-center gap-xs" data-controller="geocode">
    <% if location.errors.any? %>
      <div data-geocode-target="alert" class="error" style="color: red">
        <% location.errors.each do |error| %>
          <%= error.full_message %>
        <% end %>
      </div>
    <% end %>

    <div>
      <%= form.label :name, style: "display: block" %>
      <%= form.text_field :name %>
    </div>

    <div data-geocode-target="latInput">
      <%= form.label :latitude, style: "display: block" %>
      <%= form.text_field :latitude %>
    </div>

    <div data-geocode-target="lonInput">
      <%= form.label :longitude, style: "display: block" %>
      <%= form.text_field :longitude %>
    </div>

    <div>
      <%= form.submit "Add Location", class: "btn btn--primary margin-xs" %>
    </div>
  </div>
<% end %>
