<%= form_with(model: location) do |form| %>
  <div class="flex flex-col items-center gap-xs" data-controller="geocode">
    <% if location.errors.any? %>
      <div data-geocode-target="alert" class="error" style="color: red">
        <% location.errors.each do |error| %>
          <%= error.full_message %>
        <% end %>
      </div>
    <% end %>

    <div>
      <%= form.label :name, style: "display: block" %>
      <%= form.text_field :name, placeholder: "City or town name" %>
    </div>

    <div data-geocode-target="latInput">
      <%= form.label :latitude, style: "display: block" %>
      <%= form.number_field :latitude,
        step: 0.000001,
        min: -90,
        max: 90,
        placeholder: "(-90 to 90)" %>
    </div>

    <div data-geocode-target="lonInput">
      <%= form.label :longitude, style: "display: block" %>
      <%= form.number_field :longitude,
        step: 0.000001,
        min: -180,
        max: 180,
        placeholder: "(-180 to 180)" %>
    </div>

    <div>
      <%= form.submit "Add Location", class: "btn btn--primary margin-xs" %>
    </div>
  </div>
<% end %>
