<% content_for :title, "#{@location.name} Forecast" %>

<% flash.each do |type, message| %>
  <p style="color: <%= type == "alert" ? "red" : "green" %>">
    <%= message %>
  </p>
<% end %>

<h2>7 Day Forecast for <%= @location.name %></h2>

<%= render @location %>

<% if @forecast %>
  <ul>
    <% @forecast.each do |day| %>
      <li>
        <%= day[:date] %> |
        <%= day[:condition] %> |
        High: <span style="color: var(--op-color-alerts-danger-base)"><%= day[:high].round(0) %>°F</span> |
        Low: <span style="color: var(--op-color-primary-base)"><%= day[:low].round(0) %>°F</span>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Weather data is unavailable for this location.</p>
<% end %>

<%= image_tag @chart_url, id: "forecast-chart" if @chart_url.present? %>

<div class="flex flex-col justify-between items-center margin-xs">
  <div class="margin-xs">
    <%= link_to "Edit this location", edit_location_path(@location), class: "btn" %>
    <%= link_to "Back to locations", locations_path, class: "btn btn--primary" %>
  </div>
  

  <%= button_to "Destroy this location", @location, method: :delete, class: "btn btn--destructive" %>
</div>
